**/bin
**/obj
**/.vs
**/.vscode
**/.idea
**/node_modules
**/dist
**/build
**/.dart_tool
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/coverage
**/.next
**/.env
**/.env.local
**/TestResults
**/*.user
**/*.suo
**/*.log
api.log
api.err.log
web/dist
admin/dist
mobile/build
mobile/ios/Pods
mobile/macos/Pods
.git
.gitignore
